/* Styling to keep footer at bottom of page, taken from csstricks.com */
html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
  }

.content {
    flex: 1 0 auto;
  }

.footer {
    flex-shrink: 0;
  }

/* Header nav and logo */
header {
    overflow: auto;
    background-color: rgb(188, 188, 188);
}

.modern-logo {
    height: 60px;
}

.book-btn {
    margin: 20px auto;
}

/* Intro/ hero section */
.intro-section {
    height: 30rem;
    text-align: center;
}

.hero-image {
    /* background: url('https://res.cloudinary.com/du0modwwh/image/upload/v1657274458/hero4_uog6c0.jpg') no-repeat fixed 10% 100%; */
}

/* Our Work section */

.our-work {
    height: 10rem;
}

/* Value section  */

.value-box {
    height: 120px;
    width: 120px;
    background-color: rgb(28, 181, 79);
    border-radius: 50%;
    margin: 0 auto;
}

/* Testimonials section */

.test-box {
    height: 80px;
    width: 80px;
    background-color: aqua;
    border-radius: 50%;
    margin: 0 auto;
}

/* Footer */
a {
    color: rgb(0, 0, 0);
}
.site-links {
    font-size: .8rem;
}

.socials {
    font-size: 1.5rem;
}

.fa-linkedin-in {
    font-size: 1.6rem;
}

/* Contact form page  */

.contact-form {
    margin: 0 auto;
}

/* Booking Form  */

.booking_form {
    list-style-type: none;
    margin: 0 auto;
}

.errorlist {
    color: red;
}