:root {
    --off_white: #fafafa;
    --ml_green: #009000;
    --ml_darkgreen: #4A7347;
    --ml_gold: #9E9951;
}

/* Styling to keep footer at bottom of page, taken from csstricks.com */
html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
  }

.content {
    flex: 1 0 auto;
  }

.footer {
    flex-shrink: 0;
  }

h3 {
    text-decoration: underline;
}

/* Header nav and logo */
.modern-logo {
    height: 60px;
}

.book-btn {
    margin: 20px auto;
}
/* Logged in screen */
.logged-in {
    color: var(--ml_gold);
}
/* Intro/ hero section */
.intro-section {
    height: 35rem;
    text-align: center;
    color: var(--off_white);
    font-size: 1.2rem;
}

.hero-image {
    background: url('https://res.cloudinary.com/du0modwwh/image/upload/v1659046711/hero5_qmcc5i.png') no-repeat fixed 0% 100%;
    background-size: cover;
}

/* Our Work section */

.our-work {
    height: 10rem;
    background-color: var(--ml_darkgreen);
    color: var(--off_white);
}

@media only screen and (max-width: 430px) {
    .our-work {
      height: 200px;
    }
  }

/* Value section  */

.benefits-image {
    height: 175px;
}

/* Testimonials section */

.tesimonal-image {
    height: 100px;
    border-radius: 50%;
}

.fa {
    color: var(--ml_darkgreen);

}

/* Footer */
a {
    color: rgb(0, 0, 0);
}
.site-links {
    padding-top: 1rem;
    font-size: .8rem;
}

.socials {
    font-size: 1.5rem;
}

.fa-linkedin-in {
    font-size: 1.6rem;
}

/* Contact form page  */

.contact-form {
    margin: 0 auto;
}

/* Booking Form  */

.booking_form {
    list-style-type: none;
    margin: 0 auto;
}

.errorlist {
    color: red;
}

/* My booking page  */

.my-booking-body {
    background-color: var(--ml_darkgreen);
    color: var(--off_white);
    padding: 20px 10px;
    border-radius: 10px;
    overflow: auto;
}

.my-booking-body p {
    font-weight: 500;
}

/* Gallery Page */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
    padding: 30px 0;
    background-color: var(--off_white);
    margin-bottom: 50px;
}
.gallery-container img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.gallery-container img:hover {
    opacity: .7;
    transition: 0.8s;
}

/* Button styling */

.main-btn {
    background-color: var(--ml_darkgreen);
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--off_white);
    color: var(--off_white);
}

.main-btn:hover {
    background-color: var(--off_white);
    border: 2px solid var(--ml_darkgreen);
    color: var(--ml_green);
}

.our-work-cta-btn {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--ml_gold);
    border: 2px solid var(--off_white);
    color: var(--off_white);
}

.our-work-cta-btn:hover {
    background-color: var(--off_white);
    border: 1px solid var(--ml_gold);
    color: var(--ml_gold);
}

.nav-btn {
    background-color: var(--ml_darkgreen);
    border: 1px solid var(--ml_gold);
    color: var(--off_white);
}

.nav-btn:hover {
    background-color: var(--ml_gold);
    border: 1px solid var(--ml_darkgreen);
    color: var(--off_white);
}

.submit-btns {
    background-color: var(--ml_darkgreen);
    color: var(--off_white);
}

.submit-btns:hover {
    background-color: var(--off_white);
    color: var(--ml_darkgreen);
}

.edit-btns {
    background-color: var(--ml_gold);
    border: 1px solid var(--ml_darkgreen);
    color: var(--off_white);
}

.edit-btns:hover {
    background-color: var(--off_white);
    border: 1px solid var(--ml_gold);
    color: var(--ml_gold);
}

.cancel-btns {
    background-color: rgb(220, 44, 44);
    color: var(--off_white);
}

.cancel-btns:hover {
    background-color: var(--off_white);
    color: rgb(220, 44, 44);
    border: 1px solid rgb(220, 44, 44);
}
