{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>

    <title>Modern Landscapes</title>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="content">
        <nav class="navbar navbar-light navbar-expand-sm bg-light">
            <!-- Logo -->
            <a href="{% url 'home' %}">
                <img class="float-start modern-logo" src="https://res.cloudinary.com/du0modwwh/image/upload/v1657222106/logo-60_yhpaay.png" alt="Modern Landscapes Logo">
            </a>
            <!-- Taken from Bootstrap module -->
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
            <!-- Navigation -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-2"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="{% url 'work' %}">Our Work</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    <li class="nav-item d-none d-sm-block"><a class="nav-link p-0" href="{% url 'booking' %}"><button type="button" class="btn btn-success book-btn d-flex m-0 p-1 justify-content-center">Book Now</button></a></li>
                    <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="{% url 'booking' %}">Book Here</a></li>
                </ul>
            </div>
        </nav>

        {% block content %}
        
        {% endblock %}
        
    </div>
</body>

<footer class="footer">
    <div class="container-fluid mb-2">
        <div class="row align-items-center justify-content-center">
                <div class="col-md-4 col-12 row text-start site-links d-none d-sm-none d-md-flex">
                    <strong>Site Links:</strong> 
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'work' %}">Our Work</a>
                    <a href="{% url 'contact' %}">Contact</a>
                    <a href="{% url 'booking' %}">Book Now</a>

                </div>
                <div class="col-sm-4 col-12 d-flex align-items-end justify-content-center">
                    <!-- Facebook -->
                    <a class="socials">
                        <i class="fab fa-facebook-f p-2"> </i>
                    </a>
                    <!-- Instagram -->
                    <a class="socials">
                        <i class="fab fa-instagram p-2"> </i>
                    </a>
                    <!-- LinkedIn +-->
                    <a class="social">
                        <i class="fab fa-linkedin-in p-2"> </i>
                    </a>
                </div>
                <div class="col-sm-4 col-12 d-none d-sm-flex justify-content-end footer-logo">
                    <a href="{% url 'home' %}">
                        <img class="float-start modern-logo" src="https://res.cloudinary.com/du0modwwh/image/upload/v1657222106/logo-60_yhpaay.png" alt="Modern Landscapes Logo">
                    </a>
                </div>
                <div class="col-sm-4 col-12 d-flex d-sm-none justify-content-center pt-2 footer-logo">
                    <a href="{% url 'home' %}">
                        <img class="float-start modern-logo" src="https://res.cloudinary.com/du0modwwh/image/upload/v1657222106/logo-60_yhpaay.png" alt="Modern Landscapes Logo">
                    </a>
                </div>
        </div>
    </div>

<!-- Static JavaScript file -->
<script src="{% static 'js/script.js' %}"></script>
<!-- Bootsrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</footer>

</html>