{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>

    <title>Modern Landscapes</title>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>

        <img class="float-start modern-logo" src="https://res.cloudinary.com/du0modwwh/image/upload/v1657199111/logo_hif1du.png" alt="Modern Landscapes Logo">
        <!-- Navigation -->
        <nav class="nav justify-content-end">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            <a class="nav-link" href="#">Contact</a>
            <a class="nav-link" href="{% url 'booking' %}">Booking</a>
    
          </nav>

    </header>

    {% block content %}
    {% endblock %}

</body>

<footer>
    <i class="fa fa-envelope"></i>
</footer>

<script src="{% static 'js/script.js' %}"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</html>