{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col-12 text-center pt-4">
        <h4>Booking</h4>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-4 col-12 m-4">
                <h5>Edit an Existing Booking</h5>
                <button type="button" class="btn btn-info book-btn d-flex justify-content-center">Edit Booking</button>
            </div>
            <div class="col-md-4 col-12 booking-btn-box m-4">
                <h5>Make a New Booking</h5>
                <button type="button" class="btn btn-success book-btn d-flex justify-content-center">Book Now</button>
            </div>
    </div>
</div>

{% endblock %}