{% extends "base.html" %}
{% load static %}
{% block content %}

{% include 'messages.html' %}

<!-- Intro/ Hero section -->
<div class="jumbotron-fluid">
    <div class="hero-image intro-section p-3 container-fluid d-flex justify-content-center align-items-center">
        <div>
            <h1>Modern Landscapes</h1>
            <h4>Making your garden better.</h4>
            <p>Book your FREE garden consultation today.</p>
            <a class="nav-link" href="{% url 'booking_home' %}">
                <button type="button" class="btn btn-success book-btn d-flex justify-content-center main-btn">Book Now</button>
            </a>
        </div>
    </div>
</div>

<!-- Featured article section/ Our Work -->
<div class="container-fluid d-flex justify-content-center py-4 our-work">
    <div class="row align-items-center text-start">
        <div class="col-12 col-sm-8">See previous work completed by Modern Landscapes by ckicking on our work using the button to the right.</div>
        <div class="col-12 col-sm-4">
            <a class="text-decoration-none" href="{% url 'work' %}"><button type="button" class="btn btn-success book-btn d-flex justify-content-center our-work-cta-btn">Our Work</button></a>
        </div>
    </div>
</div>

<!-- Value provided section -->
<div class="container-fluid">
    <div class="row align-items-center justify-content-center text-center">
        <div class="col-12 py-5">
            <h3>Why you should choose Modern Landscapes</h3>
        </div>
        <div class="col-md-4 col-12">
            <img class="benefits-image" src="https://res.cloudinary.com/du0modwwh/image/upload/v1658952168/25_xopzyv.png" alt="25 years in business">
            <h5 class="py-3">25 Years Experience</h5>
        </div>
        <div class="col-md-4 col-12">
            <img class="benefits-image" src="https://res.cloudinary.com/du0modwwh/image/upload/v1658952168/Customer_Service_p3akzm.png" alt="Excellent customer service">
            <h5 class="py-3">Excellent Customer Quality</h5>
        </div>
        <div class="col-md-4 col-12">
            <img class="benefits-image" src="https://res.cloudinary.com/du0modwwh/image/upload/v1658952168/Quality_pssdkg.png" alt="Quality service guaranteed">
            <h5 class="py-3">Quality Service Guaranteed</h5>
        </div>
    </div>
</div>

<!-- Testimonials Section -->

<div class="container">
    <div class="row align-items-center justify-content-center text-center">
        <div class="col-12 py-5">
            <h3>Don't just take our word for it...</h3>
        </div>
        <div class="row p-2">
            <div class="col-12 col-sm-4 d-none d-sm-block">
                <img class="tesimonal-image" src="https://res.cloudinary.com/du0modwwh/image/upload/v1658955431/joe1_n6ud77.jpg" alt="illustration of person">
                <h5 class="p-2">Joe Bloggs</h5>
            </div>
            <div class="col-12 col-sm-8 py-3 px-5 text-start">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt felis sem, sit amet ullamcorper turpis euismod a. Mauris et congue eros. <span class="d-block d-sm-none">- Joe Bloggs</span></p>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12 col-sm-8 py-3 px-5 text-start">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt felis sem, sit amet ullamcorper turpis euismod a. Mauris et congue eros. <span class="d-block d-sm-none">- Mary Brown</span></p>
            </div>
            <div class="col-12 col-sm-4 py-3 d-none d-sm-block">
                <img class="tesimonal-image" src="https://res.cloudinary.com/du0modwwh/image/upload/v1658955431/mary1_a6m4mb.jpg" alt="illustration of person">
                <h5 class="p-2">Mary Brown</h5>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12 col-sm-4 py-4 d-none d-sm-block">
                <img class="tesimonal-image" src="https://res.cloudinary.com/du0modwwh/image/upload/v1658955431/john1_i5vswh.jpg" alt="illustration of person">
                <h5 class="p-2">John Doe</h5>
            </div>
            <div class="col-12 col-sm-8 py-4 px-5 text-start">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt felis sem, sit amet ullamcorper turpis euismod a. Mauris et congue eros. <span class="d-block d-sm-none">- John Doe</span></p>
            </div>
        </div>
    </div>
</div>
<!-- Final call to action section -->
<div class="container-fluid d-flex justify-content-center py-4 our-work">
    <div class="row align-items-center text-start">
        <div class="col-12 col-sm-8">What are you waiting for? Book your free garden consultation today.</div>
        <div class="col-12 col-sm-4">
            <a class="text-decoration-none" href="{% url 'booking' %}"><button type="button" class="btn btn-success book-btn d-flex justify-content-center our-work-cta-btn">Book Now</button></a>
        </div>
    </div>
</div>

{% endblock %}