{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col-12 text-center pt-4">
        <h4>My Booking</h4>
    </div>
</div>

{% include 'messages.html' %}

<form class="col-6 contact-form pt-5">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Booking Reference</label>
        <input name="book_ref" type="text" class="form-control" placeholder="Booking Reference" aria-describedby="enter booking reference here" required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

{% for reference_match in reference_match %}

<div class="container-fluid text-center pt-4 my-booking-box">
    <div class="col-4 mx-auto my-booking-body">
        <div class="">
            <p>{{ reference_match.name }}</p>
            <p>{{ reference_match.email }}</p>
            <p>{{ reference_match.date_choice }}</p>
            <p>{{ reference_match.time_choice }}</p>
        </div>

        <div class="btn-group" role="group" aria-label="Edit and delete buttons for bookings">
            <a class="text-decoration-none" href="{% url 'edit_booking' reference_match.id %}"><button type="button" class="btn btn-success">Edit</button></a>
            <div class="p-2"></div>
            <a class="text-decoration-none" href="{% url 'delete_booking' reference_match.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}