{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page title -->
<div class="container">
    <div class="col-12 text-center pt-4">
        <h4>Our Work</h4>
    </div>
</div>

<!-- Gallery taken from previous project -->
<div class="gallery-container">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1659046733/garden-image-6_srdtam.jpg" alt="garden patio with flower bed at back, various potted plants around">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1659046739/garden-image-1_lk7xfs.jpg" alt="wooden veranda surrounded by grass with patio steps to it">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1659046734/garden-image-7_p7ctao.jpg" alt="garden patio with steps up to large grass area">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1659046734/garden-image-4_rw6z7n.jpg" alt="garden mostly paved area with small firepit and seating area">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1659046733/garden-image-8_fqwnme.jpg" alt="front driveway, paved with raised flower bed to side">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1659046734/garden-image-9_rw4pkv.jpg" alt="back garden large patio seating area surrounded by grass">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1659046735/garden-image-11_f40amk.jpg" alt="garden patio with steps down to grass area">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1659046737/garden-image-5_zjcsnl.jpg" alt="large veranda all paving">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1659046738/garden-image-2_qhpevv.jpg" alt="garden paved on sides with grass area in centre, shed in background">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1659046736/garden-image-10_eut35e.jpg" alt="modern garden with firepit in foreground">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1659046734/garden-image-12_cim7h5.jpg" alt="paved seating area with grass next to it">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1659046737/garden-image-3_ppqj2a.jpg" alt="grass area with raised flower beds">
</div>
</section>
{% endblock %}