{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col-12 text-center pt-4">
        <h4>Our Work</h4>
    </div>
</div>

<!-- Gallery -->
<div class="gallery-container">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1658941552/garden-image-1_kcpckl.jpg" alt="2 female children playing with blocks">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1658941550/garden-image-2_g6sjru.jpg" alt="Group of childern in a line about to kick footballs">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1658941548/garden-image-3_jql0jl.jpg" alt="2 female children holding hands and playing">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1658941548/garden-image-5_mkiuho.jpg" alt="Group of childern in a line jumping through ladder on ground">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1658941547/garden-image-11_enorrn.jpg" alt="1 Female child playing in a plastic toy kitchen">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1658941545/garden-image-10_lie8x4.jpg" alt="Child's hand drawing with crayons">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1658941545/garden-image-7_gigji2.jpg" alt="2 male children and a an adult female placing coloured pegs into holes">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1658941545/garden-image-9_bn5yw4.jpg" alt="male and female child playing with various toys">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1658941545/garden-image-8_gboqed.jpg" alt="2 female children playing with flour">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1658941545/garden-image-12_ziziae.jpg" alt="1 female child colouring in with markers">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1658941544/garden-image-6_o7jund.jpg" alt="female and male child opening a bucket drawer and pulling out toys">
    <img src="https://res.cloudinary.com/du0modwwh/image/upload/v1658941544/garden-image-4_dabhtu.jpg" alt="3 princess dolls with a female child in the background">
 </div>
</section>
{% endblock %}